html {
  box-sizing: border-box;
  font: normal 100%/ 1.5 "Open Sans", regular;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  padding-left: 1.5em;
  margin: 0;
  margin-top: 0;
  text-align: left;
  position: absolute;
  bottom: 1em;
  left: 50%;
  max-width: 45em;
  width: 100%;
  transform: translateX(-50%);
}

.content p {
  margin: 0;
  font-size: 2rem;
}

h2 {
  display: inline;
  line-height: 1.4;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
}

p {
  padding-bottom: 1em;
  padding-right: 1em;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em;
}
