html {
  box-sizing: border-box;
  font:normal 100%/1.5 Open Sans, regular;
}

*, *::before, *::after {
  box-sizing: inherit;
}

  body {
  margin: 0;
  padding: 0;
}

.hero {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  padding: 0 1rem;
  position: absolute;
  width: 50em;
}
